# Temp File
tmp/
temporary/

# Local Files
local/

# Dataset Files
datasets/
data/

# ML Models
models/

# Gradio files
.gradio/
demo_outputs/

# Plan Files
plans/

# AI Files
CLAUDE.md
.claude/
GEMINI.md
.gemini/

# Python Files
venv/